<div class="signInPage">
  <form @submit.prevent>
    <div>Sign in form</div>
    <div data-selector="signInPage-error">{{error}}</div>
    <input v-model="email" data-selector="signInPage-email"><br>
    <input v-model="password" data-selector="signInPage-password"><br>
    <button @click="signIn()" data-selector="signInPage-connect">Connect</button>
  </form>
</div>